<% const headlinesSorted = article.headlines.sort((a, b) => b.count - a.count); %>
<% const topHeadline = headlinesSorted[0]; %>
<small><code><%= article.uri %></code></small>
<h3 style="margin-top: 8px;">
  <a href="<%= topHeadline.url %>">
    <%= topHeadline.headline %></a>
    <% if (topHeadline.isCanonical) { %>
      [canonical]
    <% } %>
     (<%= topHeadline.pct %>%)
  </h3>
<p><%= topHeadline.abstract %></p>
<p><em>Alternate headlines:</em></p>
<ol>
  <% headlinesSorted.slice(1).forEach((headline) => { %>
    <li>
      <% if (headline.isCanonical) { %>
        <span>[canonical]</span>
      <% } %>
      <%= headline.headline %> (<%= headline.pct %>%)
    </li>
  <% }) %>
</ol>
<br>
