<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl">
    <link href="/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

    <script async defer data-domain="nyt.tjcx.me" src="https://analytics.tjcx.me/js/plausible.js"></script>

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= canonicalUrl %>" />
    <meta property="og:image" content="<%= imageUrl %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="NYT Tracker" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tomjcleveland">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image:src" content="<%= imageUrl %>">

  </head>

  <body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>google.charts.load('current', {'packages':['corechart']});</script>
    <script>
      window.COLORS = JSON.parse('<%- JSON.stringify(COLORS) %>');
    </script>

    <nav class="navbar navbar-expand-xl navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><strong>NYT Tracker</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="me-2 nav-item">
              <a class="nav-link<%= path === '/' ? ' active' : '' %>" aria-current="page" href="/">Front page</a>
            </li>
            <li class="me-2 nav-item dropdown">
              <a class="nav-link dropdown-toggle<%= path.startsWith('/top') ? ' active' : '' %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Top...
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item<%= path === '/topviewed' ? ' active' : '' %>" href="/topviewed">... viewed</a></li>
                <li><a class="dropdown-item<%= path === '/topshared' ? ' active' : '' %>" href="/topshared">... shared</a></li>
                <li><a class="dropdown-item<%= path === '/topemailed' ? ' active' : '' %>" href="/topemailed">... emailed</a></li>
              </ul>
            </li>
            <li class="me-2 nav-item dropdown">
              <a class="nav-link dropdown-toggle<%= path.startsWith('/most') ? ' active' : '' %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Most...
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item<%= path === '/mostpromoted' ? ' active' : '' %>" href="/mostpromoted">...promoted</a></li>
                <li><a class="dropdown-item<%= path === '/mostheadlines' ? ' active' : '' %>" href="/mostheadlines">...headlines</a></li>
                <li><a class="dropdown-item<%= path === '/mostrevisions' ? ' active' : '' %>" href="/mostrevisions">...revised</a></li>
              </ul>
            </li>
            
            <!-- <li class="me-2 nav-item">
              <a class="nav-link<%= path === '/deleted' ? ' active' : '' %>" aria-current="page" href="/deleted">Deleted</a>
            </li> -->
            <li class="me-2 nav-item">
              <a class="nav-link<%= path === '/stats' ? ' active' : '' %>" aria-current="page" href="/stats">Stats</a>
            </li>
            <li class="me-2 nav-item">
              <a class="nav-link<%= path === '/about' ? ' active' : '' %>" href="/about">About</a>
            </li>
          </ul>
          <form action="/search" method="GET" class="d-flex">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </span>
              <input class="form-control" type="search" name="q" placeholder="Search..." aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container py-3">
      
