<%- include('../partials/header') %>
<div class="row mb-4">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text mb-1"><%= dayjs(article.published).format('MMMM D, YYYY') %></p>
        <h1 style="card-text"><%= article.headline || article.canonicalheadline %></h1>
      </div>
      <% if (article.imageUrl) { %>
        <img style="width: 100%; margin-bottom: 20px;" src="<%= article.imageUrl %>">
      <% } %>
      <div class="card-body pt-0">
        <p class="mt-0"><%= article.abstract %></p>
        <p class="mb-0"><a target="_blank" rel="noopener noreferer" href="<%= article.url %>">Read original article</a> (<a rel="noopener noreferer" href="<%= archiveUrl(article.url) %>" target="_blank">archived</a>)</p>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-text mb-4">Headlines and popularity</h3>
          <%- include('../partials/articleTimeSeries', { article }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-4 mt-md-0">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title mb-4">At a glance</h4>
        <%- include('../partials/articleStats', { article, extended: true }) %>
      </div>
    </div>
    <% const allHeadlines = [...new Set([article.canonicalheadline, ...article.headlines.map(h => h.headline).filter(h => !!h)])]; %>
    <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h4 class="card-title mb-0">Headlines</h4>
      </div>
      <ul class="list-group list-group-flush">
        <% allHeadlines.forEach((headline) => { %>
          <li class="list-group-item"><%= headline %></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  
</div>

<%- include('../partials/footer') %>
