<%- include('../partials/header') %>
<div class="article-summary">
  <h1 style="margin-top: 0;"><%= article.headline || article.canonicalheadline %></h1>
  <% if (article.imageUrl) { %>
    <img style="width: 100%; margin-bottom: 20px;" src="<%= article.imageUrl %>">
  <% } %>
  <%- include('../partials/article', { article }) %>
</div>
<%- include('../partials/footer') %>
