<%- include('../partials/header') %>
<div class="row mb-4">
  <div class="col-md-8">
    <% if (article.deletedat) { %>
      <div class="alert alert-danger border-0 shadow-sm" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2 mb-1 bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        The New York Times deleted this article on <strong><%= dayjs(article.deletedat).format('MMMM D, YYYY') %>.</strong>
      </div>
    <% } %>
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text mb-1"><%= dayjs(article.published).format('MMMM D, YYYY') %></p>
        <h1 style="card-text"><%= article.headline || article.canonicalheadline %></h1>
        <% if (article.section) { %>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><span class="badge bg-secondary" style="font-size: 12px;"><%= article.section.toUpperCase() %></span></li>
            <% if (article.subsection) { %>
              <li class="breadcrumb-item active" aria-current="page"><span class="badge bg-secondary" style="font-size: 12px;"><%= article.subsection.toUpperCase() %></span></li>
            <% } %>
          </ol>
        <% } %>
      </div>
      <% if (article.imageUrl) { %>
        <img style="width: 100%; margin-bottom: 20px;" src="<%= article.imageUrl %>">
      <% } %>
      <div class="card-body pt-0">
        <% if (creators &&  creators.length > 0) { %>
          <p>By
            <% for (let creator of creators) { %>
              <a href="<%= creator.url %>"><%= creator.name %></a>
            <% } %>
          </p>
        <% } %>
        <% if (article.wordcount) { %>
          <p class="mt-0"><span class="badge bg-secondary"><%= article.wordcount.toLocaleString() %> words</span></p>
        <% } %>
        <p class="mt-0"><%= article.abstract %></p>
        <p><a target="_blank" rel="noopener noreferer" href="<%= article.weburl %>">Read original article</a> (<a rel="noopener noreferer" href="<%= archiveUrl(article.weburl) %>" target="_blank">archived</a>)</p>
        <% if (article.refreshedat) { %>
          <p class="mb-0 text-muted"><small style="font-size: 12px;">Refreshed on <strong><%= dayjs(article.refreshedat).format('MMMM D, YYYY [at] h:mm:ss a') %></strong></small></p>
        <% } %>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-text mb-4">Headlines and popularity</h3>
          <%- include('../partials/articleTimeSeries', { article }) %>
        </div>
      </div>
    </div>
    <% if (diffInfo) { %>
      <div class="col mt-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-text">Revisions</h3>
            <ul class="pagination">
              <li class="page-item<%= diffInfo.count - 1 === diffInfo.index ? ' disabled' : '' %>">
                <a class="page-link" href="<%= req.path %>?rev=<%= diffInfo.index + 1 %>" tabindex="-1">Previous</a>
              </li>
              <% for (let i = diffInfo.count - 1; i >= 0; i--) { %>
                <li class="page-item<%= i === diffInfo.index ? ' active' : '' %>"><a class="page-link" href="<%= req.path %>?rev=<%= i %>"><%= diffInfo.count - i %></a></li>
              <% } %>
              <li class="page-item<%= diffInfo.index === 0 ? ' disabled' : '' %>">
                <a class="page-link" href="<%= req.path %>?rev=<%= diffInfo.index - 1 %>">Next</a>
              </li>
            </ul>
            <div><%- diffInfo.diffHtml %></div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="col-md-4 mt-4 mt-md-0">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title mb-4">At a glance</h4>
        <%- include('../partials/articleStats', { article, extended: true }) %>
      </div>
    </div>
    <% const allHeadlines = [...new Set([article.canonicalheadline, ...article.headlines])]; %>
    <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h4 class="card-title mb-0">Headlines</h4>
      </div>
      <ul class="list-group list-group-flush">
        <% allHeadlines.forEach((headline) => { %>
          <li class="list-group-item"><%= headline %></li>
        <% }) %>
      </ul>
    </div>
    <% if (article.tags) { %>
      <div class="card shadow-sm mt-4">
        <div class="card-body">
          <h4 class="card-title mb-0">Tags</h4>
        </div>
        <ul class="list-group list-group-flush">
          <% article.tags.forEach((tag) => { %>
            <li class="list-group-item"><%= tag %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  </div>
</div>
<div class="row">
  
</div>

<%- include('../partials/footer') %>
