<%- include('../partials/header') %>
    <h2 style="margin-bottom: 0;">Current headlines</h2>    
    
    <% const abTestedArticles = articles.filter(a => a.headlines.length > 1).sort((a, b) => a.rank - b.rank); %>
    <% const regularArticles = articles.filter(a => a.headlines.length === 1).sort((a, b) => a.rank - b.rank); %>
    <details open>
      <summary><h3>A/B Tested (<%= abTestedArticles.length %>)</h3></summary>
      <% abTestedArticles.forEach((article) => { %>
        <%- include('../partials/articleSummary', { article }) %>
      <% }); %>
    </details>
    
    <details>
      <summary><h3>Single headlines (<%= regularArticles.length %>)</h3></summary>
      <% regularArticles.forEach((article) => { %>
        <%- include('../partials/articleSummary', { article }) %>
      <% }); %>
    </details>
<%- include('../partials/footer') %>
