<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NYT Headlines</title>
    <meta name="description" content="See all A/B-tested NYT headlines" />

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%231f2937%22></rect><path fill=%22%23fff%22 d=%22%22></path></svg>" />

    <style>
      body {
        color: #4B5563;
        max-width: 680px;
        margin: 0 auto;
        padding: 16px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
      }

      h1,h2,h3,h4,h5,h6 {
        color: #111827;
      }

      li + li {
        margin-top: 8px;
      }

      footer {
        text-align: center;
        padding: 24px 0;
      }

      summary>h2, summary,h4 {
        display: inline-block;
        cursor: pointer;
      }

      .headline-details {
        padding-left: 20px;
        border-left: 5px solid rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script>
      window.COLORS = JSON.parse('<%- JSON.stringify(COLORS) %>');
    </script>

    <h1>NYT Headlines</h1>
    <p>A/B tested headlines currently on the <a href="https://www.nytimes.com/">the New York Times' front page</a>.</p>
    <% const abTestedArticles = articles.filter(a => a.headlines.length > 1); %>
    <% const regularArticles = articles.filter(a => a.headlines.length === 1); %>
    <details open>
      <summary><h2>A/B Tested (<%= abTestedArticles.length %>)</h2></summary>
      <% abTestedArticles.forEach((article) => { %>
        <%- include('../partials/article', { article }) %>
      <% }); %>
    </details>
    
    <details>
      <summary><h2>Single headlines (<%= regularArticles.length %>)</h2></summary>
      <% regularArticles.forEach((article) => { %>
        <%- include('../partials/article', { article }) %>
      <% }); %>
    </details>
    <footer>
      A project by <strong><a href="https://tjcx.me">TJCX</a></strong> &bull; <a href="mailto:tom@tjcx.me">tom@tjcx.me</a>
    </footer>
  </body>
</html>
