<%- include('../partials/header') %>
  <h2 style="font-weight: 400;">Results for <strong><%= query %></strong></h2>
  <% results.forEach((article) => { %>
    <div style="margin-bottom: 32px;">
      <a href="/articles/<%= article.id %>"><p><%= article.headlines[0].headline %></p></a>
      <% if (article.headlines.length > 1) { %>
        <ul>
          <% article.headlines.slice(1).forEach((headline) => { %>
            <li><%= headline.headline %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  <% }) %>
<%- include('../partials/footer') %>
